$link-color: $blue-000;

.navigation {
  padding-top: 1rem !important;
}
.main-content {
  padding-top: 1rem !important;
}

.highlight .kt {
  color: #93a1a1 !important;
}
.highlight .n {
  color: #dc322f !important;
}
